* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("../images/IMG_9600.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 40%;
    margin-left: 30%;
    margin-top: 7%;
    border-radius: 10px;
}

.lista-actiuni {
    text-align: left;
    padding-left: 20px;
    line-height: 1.6;
    margin-top: 15px;
    color: #e5dcdc;
}

.lista-actiuni li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.lista-actiuni li::before {
    position: absolute;
    left: 0;
    color: #0073e6;
    font-weight: bold;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #005bb5;
}

@media only screen and (max-width: 600px) {
    main {
        width: 85%;
        margin: 20px auto;
    }

    .lista-servicii {
        padding-left: 15px;
        font-size: 15px;
    }
}
